table {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.address_info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  table {
    width: 50%;
  }
}

@media (min-width: 992px) {
  table {
    width: 30%;
  }
}
