.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

button {
  padding: 1rem;
  text-align: left;
  :hover {
    background-color: #f0f0f0;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: auto;
  }
}
