.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 576px) {
  .home {
    flex-direction: row;
  }
  .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
