nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.user_info {
  position: relative;
}

.profile_button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--profile-button-color);
  margin-top: 0.5rem;
}

.info_menu {
  position: absolute;
  min-width: 8rem;
  top: 100%;
  left: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  background: var(--info-menu-bg);
  border: 1px solid var(--info-menu-border);
  box-shadow: 0 2px 8px var(--info-menu-shadow);
}

.info_menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.info_menu li:hover {
  background-color: var(--info-menu-hover);
}

a {
  color: #303030;
  text-decoration: none;
  :hover {
    color: black;
  }
}
