/* You can add global styles to this file, and also import other style files */
:root {
  --form-bg: #ffffff;
  --form-border: #ccc;
  --link-color: #007bff;
}

main {
  margin-left: 2rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
